body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}
.navbar {
    position: fixed;
    border-bottom: 2px solid;
    border-color: rgb(107, 112, 25);
    width: 100%;
    color: rgb(107, 112, 25);
    margin-bottom: 2rem;
}

.navbar a, .navbar .notation{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    letter-spacing: 10px;
    color: black;
    padding: 5px;
}

.navbar .notation {
    letter-spacing: 5px;
}

p {
    font-weight: 500;
    font-family: "Roboto Mono", monospace;
    word-wrap: break-word;
    margin: 1rem;
}

span {
    font-family: "Borel", normal;
}

.navLinks {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 1rem;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navLinks a {
    text-decoration: none;
    font-weight: normal;
    color: black;
    font-family: "Borel", normal;
    font-size: 3rem;
    padding-left: 1.5rem;
}

.links{
    display: flex;
    flex-direction: row;
    text-align: right;
}

.navLinks a:hover {
    font-weight: bolder;
    font-style: italic;
}

.navLinks img {
    height: 3rem;
}

@media (min-width: 768px) {
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;
        padding: 3rem;
    }

    section {
        width: 50%;
        height: 100%;
        padding-top: 0;
        padding: 3rem;
        margin-left: 5rem;

    }

    .navLinks {
        margin: auto;
    }


}