body {
    background-color: rgba(234, 216, 174, 0.904) !important;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid;
    border-color: rgb(107, 112, 25);
}

.image-container {
    display: inline-block;
    width: 50%;

}
.image-container img {
    height: 20px;
    padding-right: 1rem;
}

.notation {
    padding-top: 9px;
    width: 50%;
    text-align: right;
    font-size: small;
    font-family: "Lucida Handwriting", cursive;
}

.intro {
    margin-top: 3rem;
    height: auto;
    text-align: center;  
}
.intro span {
    color: rgb(107, 112, 25);
    font-size: 2.5rem;
    text-align: left;
}
.intro-text {
    font-weight: normal;
    font-size: larger;
    font-family: "Borel", cursive;
}

.intro h2 {
    font-family: "Pacifico", cursive;
    overflow: hidden; 
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-right-color: transparent }
    50% { border-right-color: black; }
  }

  /* Add a new keyframe to hide the cursor after typing */
@keyframes hide-cursor {
    from { border-right: .15em solid rgb(127, 125, 122); }
    to { border-right: none; }
}

/* Apply the hide-cursor animation after the typing animation */
.intro h2 {
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite, 
    hide-cursor 0.1s forwards 3.5s; /* Delay hide-cursor to start after typing is complete */
}


.intro h4 {
    font-size: small;
    padding-bottom: 30px;
    font-weight: normal;
}

.navLinks {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 4rem;

}

.navLinks a {
    text-decoration: none;
    font-weight: normal;
    color: black;
    font-family: "Borel", normal;
    font-size: 4rem;
    padding-left: 1.5rem;
}

.links{
    display: flex;
    flex-direction: row;
    text-align: right;
}

.navLinks a:hover {
    font-weight: bolder;
    font-style: italic;
}

.navLinks img {
    height: 3rem;
}

@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: center;
    }
    #navbar {
        position: fixed;
        width: 90%;
    }
    section {
        width: 50vw;
        padding-top: 7rem;
        height: 100%;
    }

    .navLinks a {
        font-size: 5rem;
    }
    .intro h4 {
        font-weight: normal;
        font-size: larger;
        font-family: "Borel", cursive;
    }

    intro h2{
        padding-top: 7rem;
    }

    .intro h6 {
        padding-top: 2rem;
        font-weight: normal;
        font-size: 2rem;
        font-family: "Borel", cursive;
    }

}